{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Sock Style List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">LISTA APTEK</h1>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Powrót do strony głównej</a></p>

		<table class="table">
			<tr>
				<th>ID</th>
				<th>NAZWA</th>
				<th>GODZINA OTWARCIA</th>
                <th>GODZINA ZAMKNIĘCIA</th>
                <th>ADRES</th>
                <th>TELEFON</th>
			</tr>


			<!-- here is a for-loop to give us all the socks -->
			{% for APTEKA in lista %}
			<tr>
				<td>{{ APTEKA.id }}</td>
				<td>{{ APTEKA.NAZWA }}</td>
				<td>{{ APTEKA.GODZ_OD }}</td>
                <td>{{ APTEKA.GODZ_DO }}</td>
                <td>{{ APTEKA.ADRES }}</td>
                <td>{{ APTEKA.TELEFON }}</td>
			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>

{% endblock %}