<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <div class="color" style="black">
            <div class="container-fluid" >
                <div class="col-md-3">
                    <div  class="col-md-6">
                        <div class="dropdown" >
                            <button type="button" class="btn btn-success btn-lg" data-toggle="dropdown"> Administrator <span  class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Modyfikacja osoby</a></li>
                                <li><a href="#">Modyfikacja dyżury</a></li>
                                <li><a href="#">Modyfikacja magazynu</a></li>
                                <li><a href="#">Modyfikacja apteki</a></li>
                                <li><a href="#">Modyfikacja miasta</a></li>
                                <li><a href="watch_administrator">Przegląd danych</a></li>
                            </ul>
                        </div>
                    </div>
                        <div class="col-md-6">
                        <div class="dropdown">
                            <button type="button" class="btn btn-success btn-lg" data-toggle="dropdown"> Farmaceuta <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="modify_lek">Modyfikacja listy leków</a></li>
                                <li><a href="modify_klient">Modyfikacja klienta</a></li>
                                <li><a href="modify_zamowienia">Modyfikacja zamówień</a></li>
                                <li><a href="watch_farmaceuta">Przegląd danych</a></li>
                            </ul>
                        </div>
                        </div>
                </div>
            </div>
    </div>
</head>
<body style="background-color: green">
  {% block content %}

  {% endblock %}

</body>
</html>