{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Sock Style List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">LISTA LEKARSTW</h1>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Powrót do strony głównej</a></p>

		<table class="table">
			<tr>
				<th>ID ZAMÓWIENIA</th>
				<th>ID LEKARSTWA</th>
				<th>ILOŚĆ</th>
			</tr>


			<!-- here is a for-loop to give us all the socks -->
			{% for LEKARSTWO in lista %}
			<tr>
				<td>{{ LEKARSTWO.id_zamowienia }}</td>
				<td>{{ LEKARSTWO.id_lekarstwo }}</td>
				<td>{{ LEKARSTWO.ilosc }}</td>

			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>

{% endblock %}