{% extends 'base.html'%}
{% block title %}
    Modify
{% endblock %}
{% block content %}

<div class="color" style="black">
    <div class="container-fluid" >
        <div class="col-md-3">
            <div  class="col-md-6">
                <form class="example" method="post" action="">
                    ID:<input type="number" name="id_apteka"/>
                    <br/><br/>
                    NAZWA: <input type="text" name="nazwa_apteka"/>
                    <br/><br/>
                    RECEPTA: <input  type="number" name="recepta_apteka"/>
                    <br/><br/>

                    <button type="submit">Submit</button>

                </form>
            <div/>
        <div/>
    <div/>
<div/>






{% endblock %}