{% extends 'base.html'%}
{% block title %}
    Modify
{% endblock %}
{% block content %}

<div class="container">
  <div class="toppane">
      <h1>Proszę o wybranie operacji</h1>
  </div>
<div/>
<div class="container">
  <div class="d-flex">
    <div class="leftpane">
          <h1>Dodaj</h1>
            <div class="color" style="black">
                <div class="container-fluid" >
                    <div class="col-md-3">
                        <div  class="col-md-3">
                            <form class="example" method="post" action="">
                                    <label>
                                        Status: <input type="text" style="height:50px; width:150px"name="status_zamowienia_dodaj"/>
                                    </label>
                                    <label>
                                        Data:<input type="text" style="height:50px; width:150px" name="data_zamowienia_dodaj"/>
                                    </label>
                                    <label>
                                        ID Klienta:<input type="number" style="height:50px; width:150px" name="id_klienta_zamowienia_dodaj"/>
                                    </label>
                                    <label>
                                        <button type="submit" style="height:50px; width:150px">Submit</button>
                                    </label>
                            </form>
                        <div/>
                    <div/>
                <div/>
            <div/>
          <div/>
    </div>
<dev/>
<div class="container">
    <div class="middlepane">
       <h1>Usuń</h1>
        <div class="color" style="black">
            <div class="container-fluid" >
                <div class="col-md-3">
                    <div  class="col-md-3">
                        <form class="example" method="post" action="">
                                <label>
                                  ID Zamowienia:<input type="number" style="height:50px; width:150px" name="id_zamowienia_usun"/>
                                </label>
                                <label>
                                    <button type="submit" style="height:50px; width:150px">Submit</button>
                                </label>
                        </form>
                    <div/>
                <div/>
            <div/>
        <div/>
    </div>
<end/>
<div class="container">
    <div class="rightpane">
      <h1>Zmień</h1>
        <div class="color" style="black">
            <div class="container-fluid" >
                <div class="col-md-3">
                    <div  class="col-md-3">
                        <form  class="example" method="post" action="">
                            <label>
                             <label>
                               ID Zamowienia:<input type="number" style="height:50px; width:150px" name="id_zamowienia_zmien"/>
                             </label>
                             <label>
                               Status: <input type="text" style="height:50px; width:150px"name="status_zamowienia_zmien"/>
                             </label>
                             <label>
                               Data:<input type="text" style="height:50px; width:150px" name="data_zamowienia_zmien"/>
                             </label>
                             <label>
                               ID Klienta:<input type="number" style="height:50px; width:150px" name="id_klienta_zamowienia_zmien"/>
                            </label>
                            <label>
                                <button type="submit" style="height:50px; width:150px">Submit</button>
                            </label>
                        </form>
                    <div/>
                <div/>
            <div/>
        <div/>
    </div>
  </div>
</div>


{% endblock %}