{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Sock Style List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">LISTA OSÓB</h1>

	  <p class="ml-4"><a href="{{ url_for('index') }}">Powrót do strony głównej</a></p>

		<table class="table">
			<tr>
				<th>ID</th>
				<th>NAZWISKO</th>
				<th>IMIĘ</th>
				<th>DATA URODZENIA</th>
				<th>TELEFON</th>
				<th>E-MAIL</th>
				<th>ADRES</th>
			</tr>


			<!-- here is a for-loop to give us all the socks -->
			{% for osoba in lista %}
			<tr>
				<td>{{ osoba.id }}</td>
				<td>{{ osoba.nazwisko }}</td>
				<td>{{ osoba.imie }}</td>
				<td>{{ osoba.data_urodzenia }}</td>
				<td>{{ osoba.telefon }}</td>
				<td>{{ osoba.email }}</td>
				<td>{{ osoba.adres }}</td>
			</tr>
			{% endfor %}
		</table>

		</div>
	</div>
</div>

{% endblock %}