{% extends 'base.html'%}
{% block title %}
    Watch Administrator Leki
{% endblock %}
{% block content %}

<div class="col  d-flex justify-content-end align-items-start">
    <a href="/apteki" class="btn btn-success btn-lg" role="button">Apteki</a>
    <a href="/dyzury" class="btn btn-success btn-lg" role="button">Dyżury</a>
    <a href="/farmaceuci" class="btn btn-success btn-lg" role="button">Farmaceuci</a>
    <a href="/klienci_administrator" class="btn btn-success btn-lg" role="button">Klienci</a>
    <a href="/zamowienia_administrator" class="btn btn-success btn-lg" role="button">Zamówienia</a>
    <a class="btn btn-success btn-lg" disabled role="button">Leki</a>
    <a href="/magazyny" class="btn btn-success btn-lg" role="button">Magazyny</a>
    <a href="/administratorzy" class="btn btn-success btn-lg" role="button">Administratorzy</a>
</div>


<form class="example" method="post" action=""
      style="margin-left: 3em;padding: 0 7em 2em 0;border-width: 2px;max-width:300px">
    <input type="text" placeholder="Search" name="LEK">
    <button type="submit"><i class="fa fa-search"></i>
    </button>
</form>


<table class="table">
  <tr class="table__header">
    {% for header in headings %}
    <th class="table__cell">{{ header }}</th>
    {% endfor %}
  </tr>
  {% for row in data %}
  <tr class="table__row">
    {% for cell in row %}
    <td class="table_cell">{{ cell }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}